<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>WhatsAppChat_2.8.5</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>WhatsAppChat_2.5.12</key>
		<dict>
			<key>WABlackListItem</key>
			<data>
			tUA3p+9kSuWHiSPnaawz92JFG1ZbX1lYqXQ5LZKKJrI=
			</data>
			<key>WAChatSession</key>
			<data>
			jAqRbSMzaNwg9KoXO+1f+e05EOpcHkJvwcFq/WUPYT0=
			</data>
			<key>WAFavorite</key>
			<data>
			rDQAAkOVLn7iboGMK7Z8Jttc4zox6ex9nEbOpBuFslE=
			</data>
			<key>WAMediaItem</key>
			<data>
			8O8FlbeO6DgMcwq0z4nft7OTHpnZVPGLXry83pfsQT8=
			</data>
			<key>WAMessage</key>
			<data>
			dmB4+4V8+01QjLWNMz6vfdTwORr2SOAQDPv3g4HbI1o=
			</data>
			<key>WAMessageWord</key>
			<data>
			uI3vOPgV67W88Lb/5nQ7H+koKaxi7DrnyUwKRFVk05U=
			</data>
			<key>WAStatus</key>
			<data>
			4skIIkV3QcpT8w8YzIoLkrIUn9NXdNMirGRLEFEydX4=
			</data>
		</dict>
		<key>WhatsAppChat_2.5.4</key>
		<dict>
			<key>WABlackListItem</key>
			<data>
			tUA3p+9kSuWHiSPnaawz92JFG1ZbX1lYqXQ5LZKKJrI=
			</data>
			<key>WAChatSession</key>
			<data>
			zABkkaiBlpSxQI7QpBMVxwGluwifF5GeeTo/lX7dVnI=
			</data>
			<key>WAMediaItem</key>
			<data>
			G57yWn3Rnsh84eXFrtvr5uDxWYJpF1vnjD3DDBYJQUg=
			</data>
			<key>WAMessage</key>
			<data>
			SLl47C4fIBdoUTZqg+3qTtBVeCccp/Ykpgwdk7oDLzs=
			</data>
		</dict>
		<key>WhatsAppChat_2.5.5</key>
		<dict>
			<key>WABlackListItem</key>
			<data>
			tUA3p+9kSuWHiSPnaawz92JFG1ZbX1lYqXQ5LZKKJrI=
			</data>
			<key>WAChatSession</key>
			<data>
			zABkkaiBlpSxQI7QpBMVxwGluwifF5GeeTo/lX7dVnI=
			</data>
			<key>WAFavorite</key>
			<data>
			rDQAAkOVLn7iboGMK7Z8Jttc4zox6ex9nEbOpBuFslE=
			</data>
			<key>WAHotlistItem</key>
			<data>
			+T8bs3/sFGkDqWJrZry+uFKFwAYwsFrlAO/mIkKGzpE=
			</data>
			<key>WAMediaItem</key>
			<data>
			fFRcDG446OP3XH69DsiejFRS0MZ5lPOHAfAKIeITCyw=
			</data>
			<key>WAMessage</key>
			<data>
			s47cUcMZ5WK5MTOPbwDxVz2wKOLFoz9kLhSVZdvldrI=
			</data>
			<key>WAStatus</key>
			<data>
			JTxP/TtyZZOkFy55YHgPKOpMq2DoxNQtpc6Sl12HWmU=
			</data>
		</dict>
		<key>WhatsAppChat_2.5.6</key>
		<dict>
			<key>WABlackListItem</key>
			<data>
			tUA3p+9kSuWHiSPnaawz92JFG1ZbX1lYqXQ5LZKKJrI=
			</data>
			<key>WAChatSession</key>
			<data>
			jAqRbSMzaNwg9KoXO+1f+e05EOpcHkJvwcFq/WUPYT0=
			</data>
			<key>WAFavorite</key>
			<data>
			rDQAAkOVLn7iboGMK7Z8Jttc4zox6ex9nEbOpBuFslE=
			</data>
			<key>WAMediaItem</key>
			<data>
			G57yWn3Rnsh84eXFrtvr5uDxWYJpF1vnjD3DDBYJQUg=
			</data>
			<key>WAMessage</key>
			<data>
			s47cUcMZ5WK5MTOPbwDxVz2wKOLFoz9kLhSVZdvldrI=
			</data>
			<key>WAStatus</key>
			<data>
			4skIIkV3QcpT8w8YzIoLkrIUn9NXdNMirGRLEFEydX4=
			</data>
		</dict>
		<key>WhatsAppChat_2.6.1</key>
		<dict>
			<key>WABlackListItem</key>
			<data>
			tUA3p+9kSuWHiSPnaawz92JFG1ZbX1lYqXQ5LZKKJrI=
			</data>
			<key>WAChatSession</key>
			<data>
			C4L6yzNQlRbSVJArdipJ/JexuSP7kBIG8fco2v8knCw=
			</data>
			<key>WAFavorite</key>
			<data>
			rDQAAkOVLn7iboGMK7Z8Jttc4zox6ex9nEbOpBuFslE=
			</data>
			<key>WAGroupInfo</key>
			<data>
			fgk4cIWIkTMY0U3tJJH1yGunwzxakuz8rKtNMnxdMRo=
			</data>
			<key>WAGroupMember</key>
			<data>
			RmtTN4IOyIMZ6Ut3QTwKG9iazUWY10RuFmG/45MSipE=
			</data>
			<key>WAMediaItem</key>
			<data>
			HdHgMJbfnk+w7JjYdAIhzNO7wFsOP67A0z6M/SXyOso=
			</data>
			<key>WAMessage</key>
			<data>
			UgtWYw1QS2KvlLM+K2oQrvn77fuRask3TQ1q61YPEiM=
			</data>
			<key>WAMessageWord</key>
			<data>
			uI3vOPgV67W88Lb/5nQ7H+koKaxi7DrnyUwKRFVk05U=
			</data>
			<key>WAStatus</key>
			<data>
			zD8ngpA3NMNS+HbtJB/WTzKrR9Y+pScFEb4Hmv/WicY=
			</data>
		</dict>
		<key>WhatsAppChat_2.6.10</key>
		<dict>
			<key>WABlackListItem</key>
			<data>
			tUA3p+9kSuWHiSPnaawz92JFG1ZbX1lYqXQ5LZKKJrI=
			</data>
			<key>WAChatProperties</key>
			<data>
			F4Z/TeC3UHNEjwQKYM7jaTKQUjuIIS1dGFGW9cRKyYg=
			</data>
			<key>WAChatSession</key>
			<data>
			dDexegZ9Ohv9+NpBu1n/uDL9tvhASPQRpIukehLEKx8=
			</data>
			<key>WAFavorite</key>
			<data>
			+k5uNM/AS9jg/mvlEYGCVwTA5M4J0qivjVEm3ewA02c=
			</data>
			<key>WAGroupInfo</key>
			<data>
			eSGZH+oIvii5cwqLHsBeWVbSQaWgoMSRfr27k1aBcgQ=
			</data>
			<key>WAGroupMember</key>
			<data>
			RmtTN4IOyIMZ6Ut3QTwKG9iazUWY10RuFmG/45MSipE=
			</data>
			<key>WAMediaItem</key>
			<data>
			K0+63lwbuYnMS4K5giQ+rBlndkqUS6X4G/fCW5/2tEw=
			</data>
			<key>WAMessage</key>
			<data>
			ReIHHR0LHtzQ5tpxgp9C9roFi9MEswL/VdkY8ZHfj1Q=
			</data>
			<key>WAMessageWord</key>
			<data>
			uI3vOPgV67W88Lb/5nQ7H+koKaxi7DrnyUwKRFVk05U=
			</data>
			<key>WAStatus</key>
			<data>
			Tt7VT4kJ1oa9KiOH5C8YgI70hCyeptTU297XF7gYvdk=
			</data>
		</dict>
		<key>WhatsAppChat_2.6.5</key>
		<dict>
			<key>WABlackListItem</key>
			<data>
			tUA3p+9kSuWHiSPnaawz92JFG1ZbX1lYqXQ5LZKKJrI=
			</data>
			<key>WAChatProperties</key>
			<data>
			F4Z/TeC3UHNEjwQKYM7jaTKQUjuIIS1dGFGW9cRKyYg=
			</data>
			<key>WAChatSession</key>
			<data>
			lqLV0KhHnP00iZaTB/KwRmj1A7CrtIZu/sa7Cql7HLg=
			</data>
			<key>WAFavorite</key>
			<data>
			+k5uNM/AS9jg/mvlEYGCVwTA5M4J0qivjVEm3ewA02c=
			</data>
			<key>WAGroupInfo</key>
			<data>
			fgk4cIWIkTMY0U3tJJH1yGunwzxakuz8rKtNMnxdMRo=
			</data>
			<key>WAGroupMember</key>
			<data>
			RmtTN4IOyIMZ6Ut3QTwKG9iazUWY10RuFmG/45MSipE=
			</data>
			<key>WAMediaItem</key>
			<data>
			K0+63lwbuYnMS4K5giQ+rBlndkqUS6X4G/fCW5/2tEw=
			</data>
			<key>WAMessage</key>
			<data>
			UgtWYw1QS2KvlLM+K2oQrvn77fuRask3TQ1q61YPEiM=
			</data>
			<key>WAMessageWord</key>
			<data>
			uI3vOPgV67W88Lb/5nQ7H+koKaxi7DrnyUwKRFVk05U=
			</data>
			<key>WAStatus</key>
			<data>
			Tt7VT4kJ1oa9KiOH5C8YgI70hCyeptTU297XF7gYvdk=
			</data>
		</dict>
		<key>WhatsAppChat_2.6.9</key>
		<dict>
			<key>WABlackListItem</key>
			<data>
			tUA3p+9kSuWHiSPnaawz92JFG1ZbX1lYqXQ5LZKKJrI=
			</data>
			<key>WAChatProperties</key>
			<data>
			F4Z/TeC3UHNEjwQKYM7jaTKQUjuIIS1dGFGW9cRKyYg=
			</data>
			<key>WAChatSession</key>
			<data>
			lqLV0KhHnP00iZaTB/KwRmj1A7CrtIZu/sa7Cql7HLg=
			</data>
			<key>WAFavorite</key>
			<data>
			+k5uNM/AS9jg/mvlEYGCVwTA5M4J0qivjVEm3ewA02c=
			</data>
			<key>WAGroupInfo</key>
			<data>
			eSGZH+oIvii5cwqLHsBeWVbSQaWgoMSRfr27k1aBcgQ=
			</data>
			<key>WAGroupMember</key>
			<data>
			RmtTN4IOyIMZ6Ut3QTwKG9iazUWY10RuFmG/45MSipE=
			</data>
			<key>WAMediaItem</key>
			<data>
			K0+63lwbuYnMS4K5giQ+rBlndkqUS6X4G/fCW5/2tEw=
			</data>
			<key>WAMessage</key>
			<data>
			UgtWYw1QS2KvlLM+K2oQrvn77fuRask3TQ1q61YPEiM=
			</data>
			<key>WAMessageWord</key>
			<data>
			uI3vOPgV67W88Lb/5nQ7H+koKaxi7DrnyUwKRFVk05U=
			</data>
			<key>WAStatus</key>
			<data>
			Tt7VT4kJ1oa9KiOH5C8YgI70hCyeptTU297XF7gYvdk=
			</data>
		</dict>
		<key>WhatsAppChat_2.8.1</key>
		<dict>
			<key>WABlackListItem</key>
			<data>
			tUA3p+9kSuWHiSPnaawz92JFG1ZbX1lYqXQ5LZKKJrI=
			</data>
			<key>WAChatProperties</key>
			<data>
			F4Z/TeC3UHNEjwQKYM7jaTKQUjuIIS1dGFGW9cRKyYg=
			</data>
			<key>WAChatSession</key>
			<data>
			uqGaUvEiVxg/m4lAdH8ZOmeJE5DFFNF116K0zfUZ89A=
			</data>
			<key>WAGroupInfo</key>
			<data>
			eSGZH+oIvii5cwqLHsBeWVbSQaWgoMSRfr27k1aBcgQ=
			</data>
			<key>WAGroupMember</key>
			<data>
			eEa2KFU+MRfXtKi+OtSOH750Lc6QtqksT1oxbvhl6pE=
			</data>
			<key>WAMediaItem</key>
			<data>
			K0+63lwbuYnMS4K5giQ+rBlndkqUS6X4G/fCW5/2tEw=
			</data>
			<key>WAMessage</key>
			<data>
			ReIHHR0LHtzQ5tpxgp9C9roFi9MEswL/VdkY8ZHfj1Q=
			</data>
			<key>WAMessageWord</key>
			<data>
			uI3vOPgV67W88Lb/5nQ7H+koKaxi7DrnyUwKRFVk05U=
			</data>
		</dict>
		<key>WhatsAppChat_2.8.3</key>
		<dict>
			<key>WABlackListItem</key>
			<data>
			tUA3p+9kSuWHiSPnaawz92JFG1ZbX1lYqXQ5LZKKJrI=
			</data>
			<key>WAChatProperties</key>
			<data>
			F4Z/TeC3UHNEjwQKYM7jaTKQUjuIIS1dGFGW9cRKyYg=
			</data>
			<key>WAChatSession</key>
			<data>
			uqGaUvEiVxg/m4lAdH8ZOmeJE5DFFNF116K0zfUZ89A=
			</data>
			<key>WAGroupInfo</key>
			<data>
			eSGZH+oIvii5cwqLHsBeWVbSQaWgoMSRfr27k1aBcgQ=
			</data>
			<key>WAGroupMember</key>
			<data>
			eEa2KFU+MRfXtKi+OtSOH750Lc6QtqksT1oxbvhl6pE=
			</data>
			<key>WAMediaItem</key>
			<data>
			K0+63lwbuYnMS4K5giQ+rBlndkqUS6X4G/fCW5/2tEw=
			</data>
			<key>WAMessage</key>
			<data>
			u2o2K7rFhbrP/dNg7FspK2QtxAL99fuNvIXFuAOn4mI=
			</data>
			<key>WAMessageWord</key>
			<data>
			uI3vOPgV67W88Lb/5nQ7H+koKaxi7DrnyUwKRFVk05U=
			</data>
		</dict>
		<key>WhatsAppChat_2.8.5</key>
		<dict>
			<key>WABlackListItem</key>
			<data>
			tUA3p+9kSuWHiSPnaawz92JFG1ZbX1lYqXQ5LZKKJrI=
			</data>
			<key>WAChatProperties</key>
			<data>
			F4Z/TeC3UHNEjwQKYM7jaTKQUjuIIS1dGFGW9cRKyYg=
			</data>
			<key>WAChatSession</key>
			<data>
			SUQG/SpI6pLyZt9qs1NzM+oPFkV5TG+/IBFLoouB5sI=
			</data>
			<key>WAGroupInfo</key>
			<data>
			eSGZH+oIvii5cwqLHsBeWVbSQaWgoMSRfr27k1aBcgQ=
			</data>
			<key>WAGroupMember</key>
			<data>
			eEa2KFU+MRfXtKi+OtSOH750Lc6QtqksT1oxbvhl6pE=
			</data>
			<key>WAMediaItem</key>
			<data>
			K0+63lwbuYnMS4K5giQ+rBlndkqUS6X4G/fCW5/2tEw=
			</data>
			<key>WAMessage</key>
			<data>
			u2o2K7rFhbrP/dNg7FspK2QtxAL99fuNvIXFuAOn4mI=
			</data>
			<key>WAMessageWord</key>
			<data>
			uI3vOPgV67W88Lb/5nQ7H+koKaxi7DrnyUwKRFVk05U=
			</data>
		</dict>
	</dict>
</dict>
</plist>
